/* ---Window & Main Body--- */
@keyframes moveX1{
    from{background-position-x:0px;}
    to{background-position-x:-1800px;}
  }
@keyframes moveX2{
    from{background-position-x:0px;}
    to{background-position-x:-1380px;}
  }
@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}
* {
    margin: 0;
}
html {
    background: url(images/c2d-background.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
}

canvas {
    border: 4px solid rgb(248, 59, 255);
    border-radius: 10px;
    /* background-image: url('./images/Fighting-Stage.png');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat; */

    height: 50vh;
    /* position:fixed;
    top:0;
    left:0; */
    box-shadow: 5px 5px 5px 5px  rgba(83, 5, 83, 0.514);
    transform-origin: center;
    transform: scale(1) translate(0px, 0px)
}
header {
    text-align: center;
}
header h1 {
    color:rgb(40, 81, 218);
    font-family: 'Bowlby One', cursive;
    font-size: 40px;
    letter-spacing: 3px;
    text-shadow: 3px 3px 3px rgb(243, 81, 243);
}

/* ---HUD Section--- */
.hud {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

/* ---Player 1 & 2 Divs--- */
.player1 {
    background-image: url(images/bloody-background.png);
    background-repeat: no-repeat, repeat;
    background-color: #f76f718a;
    border: 5px solid #FFF699;
    border-radius: 20px;
    width: 38%;
    display: flex;
    box-shadow: 1px 1px 20px 1px #fb9e08;
    /* background: linear-gradient(90deg, #ab0606, #ab0606, #ab0606, #fa0000, #f33f3f, #f15e5e, #FC9D9f, #ECB5B2, #DCD3CE, #cdeee6);
    background-size: 500% 100%;
    animation: gradient 10s ease infinite; */

}
.player2 {
    background-image: url(images/bloody-background.png);
    background-repeat: no-repeat, repeat;
    background-color: #f76f718a;
    border: 5px solid #FFF699;
    border-radius: 20px;
    width: 38%;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 1px 1px 20px 1px #fb9e08;
    /* background: linear-gradient(270deg, #ab0606, #ab0606, #ab0606, #fa0000, #f33f3f, #f15e5e, #FC9D9f, #ECB5B2, #DCD3CE, #cdeee6);
    background-size: 500% 100%;
    animation: gradient 5s ease infinite; */
}
.player2 > .player-info {
    display: flex;
    flex-direction: column;
}
.player-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 3%;
}
.player-avatar {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 3%;
    font-family: 'Bowlby One', cursive;
    font-size: 14px;
    color: rgb(0, 217, 255);
    text-align: center;
    text-shadow: 3px 3px 3px rgb(255, 0, 242)
}
.avatar-pic {
    height: 15vh;
    border: 5px solid #FFF699;
    border-radius: 10px;

}
.avatar-pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#ap1 {
    background: linear-gradient(180deg, #ab0606, #ab0606, #ab0606, #fa0000, #f33f3f, #f15e5e, #FC9D9f, #ECB5B2, #DCD3CE, #cdeee6);
    background-size: 500% 500%;
    animation: gradient 5s ease infinite;
    /* background-image : url(images/dog-crop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: moveX1 2s steps(8) infinite; */
}
#ap2 {
    background: linear-gradient(180deg, #ab0606, #ab0606, #ab0606, #fa0000, #f33f3f, #f15e5e, #FC9D9f, #ECB5B2, #DCD3CE, #cdeee6);
    background-size: 500% 500%;
    animation: gradient 5s ease infinite;
    /* background-image : url(images/cat-crop-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: moveX2 2s steps(8) infinite; */
}
.control-panel {
    height: 60%;
}

/* ---Health & Energy Bars--- */
.health-bar {
    height: 20%;
    padding: 2%;
    color: white;
}
.outer-bar {
    height: 90%;
    background: pink;
    border: 3px solid rgb(33, 156, 29);
    border-radius: 10px;
}
.inner-bar {
    height: 100%;
    background: rgb(57, 221, 57);
    border: 0px solid rgb(57, 221, 57);
    border-radius: 10px;
}
#hp-1 {
    width: 100%;
}
#hp-2 {
    width: 100%;
}
.energy-bar {
    height: 10%;
    padding: 2%;
    color: white;
}
#energy-1 {
    width: var(--energy-1)
}
.outer-bar-energy {
    height: 90%;
    background: rgb(142, 142, 224);
    border: 3px solid blue;
    border-radius: 8px;
}
.inner-bar-energy {
    height: 100%;
    width: 20%;
    background:rgb(44, 75, 253)
}

/* ---Fight Timer--- */
.time {
    display: flex;
    flex-direction: column;
    color: rgb(40, 81, 218);
    font-family: 'Bowlby One', cursive;
    letter-spacing: 3px;
    text-shadow: 3px 3px 3px rgb(243, 81, 243);
    border-radius: 20px;
    width: 24%;
    text-align: center;
}
.actual-time span {
    font-size: 50px;
    color:rgb(255, 42, 109);
    text-shadow: -2px 0 rgb(255, 255, 255), 0 2px rgb(255, 255, 255), 2px 0 rgb(255, 255, 255), 0 -2px rgb(255, 255, 255);    
}
